:root {
    --background-primary: linear-gradient(180deg, rgba(23,0,5,.75) 10%, rgba(0,0,0,1) 65%);
    --background-secondary: linear-gradient(180deg, rgba(23,0,5,.75) 10%, rgba(0,0,0,1) 65%);
    --font-primary: 'Rajdhani';
    --primary-text-color: lightgray;
    
    --primary: 23, 13, 22;
    --red: 255, 0, 60;
    --blue: 114, 234, 248;
    --yellow: 243, 230, 0;
    --green: 71, 213, 139;
    --dark-green: 56, 171, 111;

    --primary-color: rgba(var(--primary), 0.9);
    --dark-primary-color: rgba(var(--primary), 1);
    --light-primary-color: rgba(var(--primary), 0.6);

    --neon-red-color: rgba(var(--red), 1);
    --neon-blue-color: rgba(var(--blue), 1);
    --neon-yellow-color: rgba(var(--yellow), 1);
    --neon-green-color: rgba(var(--green), 1);
